.divContainerMain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonSliderLeft {
    height: fit-content;
    height: 3rem;
    margin-left: 4rem;
    margin-right: -7rem;
    cursor:pointer;
    z-index: 2;
    
}

.buttonSliderLeft:hover {
    width: 2rem;
    height: 4rem;
    margin-right: -7rem;
}

.buttonSliderRight {
    height: fit-content;
    height: 3rem;
    margin-left: -7rem;
    margin-right: 4rem;
    cursor: pointer;
}

.buttonSliderRight:hover {
    width: 2rem;
    height: 4rem;
    margin-left: -7rem;
}

.divContainer {
    display: flex;
    flex-direction: column ;
    align-items: center;
    background: linear-gradient(180deg, #162b22 50%, #0a271b 100%);
    box-shadow: 0px 0px 30px #FFB11B;
    border-radius: 30px;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    border: none;
}

.h2NoProjects {
    display: flex;
    color:white;
    margin-left: 3rem;
}
.divSlider {
    
    background-color: #333030;
    border-radius: 30px;
    width: 80%;
    height: 100%;
}


.h2Title {
    color:antiquewhite;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}
.divImgAndDescription {
    display: flex;
    margin-left: 1rem;
}
.imageProyect {
    display: block;
    margin: auto;
    width: 50%;
    height:fit-content;
}
.description {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btnIrAlProyecto {
    /* Button */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    width: auto;
    height: 53px;
    
    background: linear-gradient(180deg, #FFDF1B 0%, #FFB11B 100%);
    border-radius: 6px;
    
    /* Paragraph Bold */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    text-align: center;
    
    color: #0A0A0A;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
    transition: .5s;
}

.btnIrAlProyecto:hover {
    cursor:pointer;
    color: white
}
@media(max-width: 768px) {
    .divContainerMain {
        align-items:flex-start;
    }

    .divContainer {
        height: auto;
        margin-top: 4rem;
        justify-content: center;
    }
    .divImgAndDescription {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    .buttonSliderLeft:hover {
        width: 2rem;
        height: 2rem;
    }
    .buttonSliderRight:hover {
        width: 2rem;
        height: 2rem;
    }
}